<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    Welcome to PS6!
  </h1>
</div>

<div>
  The current price of {{prices.name}} is {{prices.quote.USD.price}}, rank {{prices.cmc_rank}} in the cryptocurrency market.
</div>


<!--<div *ngIf="selectCrypto">-->
<!--  <h3>details for {{selectCrypto.name}}</h3>-->
<!--  <input type = "text" [(ngModel)]="selectedCrypto.name">-->
<!--  <input type = "text" [(ngModel)]="selectedCrypto.rank">-->
<!--  <input type = "text" [(ngModel)]="selectedCrypto.maxSupply">-->
<!--</div>-->

