<!--The content below is only a placeholder and can be replaced.-->
<!--<app-service></app-service>-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <p>What cryptocurrency you want to know?</p>
  <label>[Choose from EOS, BTC, BCH, ETH] </label>
  <input type="String" [(ngModel)]="names" required>
  <button type = "button" id = "myBtn" (click) ="selectCrypto()">Select</button>
</div>
<p></p>
<div *ngFor="let key of prices">
  {{key.name}} | current price: ${{key.quote.USD.price}} | The total market cap: ${{key.quote.USD.market_cap}}
</div>

