<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <ul>
    price(rank, max supply)
    <li *ngFor="let price of prices">
      <label (click)="selectCrypto(price)">{{price.name}} ({{price.rank}}, {{price.maxSupply}})</label>
    </li>
  </ul>
</div>

<div *ngIf="selectedCrypto">
  <h3>details for {{selectedCrypto.name}}</h3>
  <input type = "text" [(ngModel)]="selectedCrypto.name">
  <input type = "text" [(ngModel)]="selectedCrypto.rank">
  <input type = "text" [(ngModel)]="selectedCrypto.maxSupply">
</div>


